{% extends "base.html.twig" %}

{% block contenido %}

    <div class="main-container">
        <div class="container">
            <div class="row clearfix">
                <h1 class="pull-left">{{ persona.username }}</h1>
                <img width="200" height="200" class="pull-right" src="{{ persona.avatar }}"/>
                <div style="clear:both"/>
                <h2>{{ persona.trayectos|length }} Trayectos publicados.</h2>

                {% for trayecto in persona.trayectos %}
                    {% include 'list/_trayecto.html.twig' %}
                {% endfor %}

                <br>
            
                <a class="btn btn-block btn-primary text-center" href="{{ path('public_list') }}">Volver</a>

                
                </div>
            </div>
        </div>
    
{% endblock %}